# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine On

RewriteCond %{REQUEST_URI} !.(?:css|js|jpe?g|png)$ [NC]
RewriteRule ^adminer$ /adminer.php [QSA]


RewriteCond %{REQUEST_URI} !.(?:css|js|jpe?g|png)$ [NC]
RewriteRule ^([a-z0-9_]+)$ /index.php?action=$1 [QSA]

RewriteCond %{REQUEST_URI} !.(?:css|js|jpe?g|png)$ [NC]
RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)$ /index.php?action=$1&value=$2 [QSA]