.carousel-inner img
{
    margin: auto;
    width: 100%;
    height: auto;
    /* Magic! */
    max-width: 50vw;
}
.sizeImg
{
    height: 70vh;
    width: 100%
}
.shadowImg
{
    filter: grayscale(100%);
}

@media  (max-width : 900px)
{
    .sizeImg
    {
        width: 100%;
        height: 100%;
    }
}